*, *:after, *:before{
  box-sizing: border-box;
}

.main-nav{
  background-color: #d33a2c;
}

.logo img{
  height: 4.2em;
  width: 4.2em;
}
body{
  margin: 0;
  padding: 0;
}
body::after{
  content: "991px and above";
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: black;
}

.row::after{
  content: '';
  clear: both;
  display: table;
}
[class*='col-']{
  float: left;
}
.topics .col-1-2{
  width: 50%;
}
.col-1-5{
  width: 20%;
}
.col-1-4{
  width: 24%;
}
.row{
  width: 90%;
  margin: 0 auto;
}
.main-nav a {
  text-decoration: none;
}
.black-on-hover a:hover{
  color: black
}
.faint-black-on-hover a:hover{
  color: rgba(0, 0, 0, 0.6);
}
.menu-btn:focus {
  background-color: rgba(0,0,0,0.2);
  .topics {
    display: block;
  }
}
.fl-right{
  float: right;
}
.fl-left{
  float: left;
}
.cl-both {
  clear: both;
}
.container {
  width: 88%;
  margin: 0 auto;
}

.topics {
  display: none;
}

.btn-alt{
  background-color: inherit;
  border: 3px solid white;
  color: white;
}
.btn-sm{
  width: 100px;
}
.btn-md{
  width: 150px
}
.btn{
  border-radius: 6px;
  padding: 8px;
}
.pd-top-20{
  padding-top: 20px;
}
.bg-blue{
  background-color: blue;
}
.bg-green{
  background-color: green;
}
.sm-nav{
  text-align: center;
}
.sm-nav a{
  color: white;
}
.pd-bottom-20{
  padding-bottom: 20px;
}
.no-mg {
  margin: 0;
}
/* background color fot the articles and jobs on the main-nav*/
.color-diff1{
  background-color: #bc3428;
}
/* background color for events on the main-nav */
.color-diff2{
  background-color: #c13125;
}
/* background color for books and membership on the main-nav */
.color-diff3{
  background-color: #d7372a;
}
.search input{
  padding: 18px 0 18px 36px;
  width: 100%;
  background: url("../images/search.png") 10px 50% no-repeat,
              #fff no-repeat;
  background-size: 1.4em 1.4em;
  border-radius: 8px;
  border: 1px solid #d33a2c;
  margin-bottom: 13px;
}
.search input:focus{
  border: 2.3px dotted black;
}
.search img{
  width: 7.5em;
}
.ul-wrapper li{
  width: 50%;
  padding-bottom: 20px;
  float: left;
}
.ul-wrapper li a{
  color: #fff;
}
.ul-wrapper {
  margin-top: 50px;
}
.ul-wrapper ul{
  list-style: none;
}
.ul-wrapper ul li::before{
  display: inline-block;
  font-weight: bold;
  width: 0.4em;
  content: "\2022";
  color: rgba(0, 0, 0, 0.6);
}
h4{
  color: #fff;
}
.txt-center{
  text-align: center;
}
.toggle-color{
  width: 40%;
  margin: 0 auto;
}
.toggle-color a{
  display: inline-block;
  border: 1px solid #fff;
  margin-bottom: 40px;
}
.toggle-color a:hover{
  color: #d33a2c;
  background-color: #fff;
}
.articles-heading {
  background-color: white;
  display: inline-block;
  margin:0;
  font-size: 1.875em;
}
.articles-heading-div {
  text-align: center;
  padding: 20px;
}
.author::after {
  content: '';
  clear: both;
  display: table;
}
.author figure {
  float: left;
  margin: auto 10px auto 0;
}
.article {
  padding-top: 50px;
}

.article h2 small {
  font-size: 0.6em;
}

.article h2 small i{
  margin-right: 4px;
}

.article .author figure img{
  height: 55px;
  width: 55px;
  border: 4px solid #fff;
  border-radius: 4px;
  transform: rotate(-10deg);
  margin-top: 20px;
}

.article .author figure img:hover {
  transform: rotate(0deg);
}
.article .author .author-name {
  margin-top: 46px;
  float: left;
}

.article a, .article i{
  color: white;
  text-decoration: none;
}

.article-topics ul{
  list-style: none;
  padding-left: 0;
}

.article-topics ul li {
  float: left;
  padding-left: 16px;
  font-size: 0.7em;
}

.article-topics ul li:before {
  display: inline-block;
  content: '#';
  color: rgba(0,0,0,0.5);
  width: 0.3em;
  margin-right: 8px;
}

.article-topics ul:after {
  clear: both;
  content: "";
  display: table;
}

.margin-bottom-30{
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px){
  body::after{
    content: "767px - 991px";
  }
}

@media only screen and (max-width: 767px){
  body::after{
    content: "479px - 767px";
  }
}

@media only screen and (max-width: 479px){
  body::after{
    content: "0 - 479px";
  }
 .menu-items{
    display: none;
  }

}
